/*================================================================================================================================================
                                                            GENERIC  
================================================================================================================================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}





/*==============================================================================================================================================
                                                            BASE  
================================================================================================================================================*/
.wrapper {
    max-width: 1280px;
    margin: 0 auto 0 auto;
}

body {
    font: 1.125/160% 'Frank Ruhl Libre', sans-serif;
    background-color: #07020d;
    color: #fff;
}

a {
    text-decoration: none;
}


/*==============================================================================================================================================
                                                            MISE EN PAGE 
================================================================================================================================================*/
header {
    color: #07020d;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 999;

}

header .wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 800px;
}

header .logo {
    font-size: 1.875rem;
    color: inherit;
}

.menu {
    font-size: 1.875rem;
}

.hero {
    height: 400px;
    background: url(../images/photos/mountains.jpg) no-repeat center center/cover;

}

/*==============================================================================================================================================
                                                                ÉLÉMENTS/TYPOGARPHIE
================================================================================================================================================*/
button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.card {
    position: relative;
}

.button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #07020d;
    color: #5db7de;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #5db7de;
    color:#07020d;
}

img {
    max-width: 100%;

}

.contenu .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    border-radius: 10px;
}

/*==============================================================================================================================================
                                                               COMPONENENTS
================================================================================================================================================*/
.contenu {
    margin: 100px 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5db7de;
    font-size: 20px;
    padding: 30px 0px 30px 0px;
    color: #fff;
}

.media {
    background-color: #272727;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    position: fixed;
    top: 200px;
    left: 0px;
}

.media img {
    height: 40px;
    width: 40px;
    display: block;
}

.media img:hover {
    position: relative;
    top: 0;
    left: 3px;
}

.media ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: grid;
    gap: 10px;
}

img.zoom {
    max-height: 80%;
    cursor: pointer;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 30px;
}