/*================================================================================================================================================
                                                            GENERIC  
================================================================================================================================================*/

html {
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}





  /*==============================================================================================================================================
                                                            BASE  
================================================================================================================================================*/     
.wrapper {
    max-width: 1280px;
    margin: 0 auto 0 auto;
}                                                                                    
body {
    font: 1.125/160% 'Frank Ruhl Libre', sans-serif; 
    background-color: #07020d;
    color: #fff;
}

a {
    text-decoration: none;
}


/*==============================================================================================================================================
                                                            MISE EN PAGE 
================================================================================================================================================*/          
header {
    color: #07020d;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 999;
    
}

header .wrapper {
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   max-width: 800px;
}
header .logo {
    font-size: 1.875rem;
    color: inherit;
}
   
 .menu {
    font-size: 1.875rem;
 }

 .hero {
    height: 400px;
    background: url(../images/photos/mountains.jpg) no-repeat center center/cover;
    
 }

/*==============================================================================================================================================
                                                                ÉLÉMENTS/TYPOGARPHIE
================================================================================================================================================*/        
button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
   
}

.contenu .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    border-radius: 10px;
}

/*==============================================================================================================================================
                                                               COMPONENENTS
================================================================================================================================================*/ 
.contenu {
    margin: 100px 0px;
}